{% extends "base.html" %}
{% block title %}Все курсы{% endblock %}
{% block content %}
    <h2>Курсы</h2>
    <div class="row">
     {% for item in data %}
        <div class="card col-3" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <div class="category-block">{{ item.category }}</div>
            <p class="card-text">{{ item.description }}</p>
            <a href="/courses/enroll/{{ item.id }}/" class="btn btn-primary">Записаться</a>
            <a href="/courses/update/{{ item.id }}/" class="btn btn-primary">Изменить</a>
          </div>
        </div>
     {% endfor %}
    </div>
    <a href="/addcourse/" class="btn btn-primary">Добавить курс</a>
    <a href="/clonecourse/" class="btn btn-primary">Клонировать курс</a>
{% endblock %}