{% extends "base.html" %}
{% block title %}Новый курс{% endblock %}
{% block content %}
  <h2>Запись на курс</h2>

{{ data }}
  <form action="" method="post">
    <label for="title">Название курса:</label><br>
    <div>{{ course.title }}</div><br>
    <input type="hidden" name="course_id" value="{{ request.id }}">
    <label for="student">Студент:</label><br>
    <select id="student" name="student_id">
      {% for student in students %}
      <option value="{{ student.id }}"> {{ student.firstname }} {{ student.lastname }} </option>
      {% endfor %}
    </select><br>
    <br>
    <input type="submit" class="btn btn-primary" value="Записать">
  </form>

{% endblock %}