{% extends "base.html" %}
{% block title %}Новый курс{% endblock %}
{% block content %}
  <h2>Новый курс</h2>

  <form action="" method="post">
    <label for="title">Полное название:</label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for="id_category">Категория:</label><br>
    <select id="id_category" name="id_category">
      {% for item in data %}
      <option value="{{ item.id_category }}"> {{ item.title }} </option>
      {% endfor %}
    </select><br>
    <label for="description">Описание:</label><br>
    <textarea id="description" name="description"></textarea><br><br>
    <input type="submit" class="btn btn-primary" value="Создать">
  </form>

{% endblock %}